.header{
    height: 10vh;
    background-image: linear-gradient(to right bottom,rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8));
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    align-items: center;
    //padding: 3rem 10%;

    &__logo-box{
        margin-left: 1rem;
        width: 7rem;
        
        transition: all .8s;

        animation: moveInLogo .8s ease-out .75s;
        animation-fill-mode: backwards;

        
    }

    &__logo-box:hover{
            //outline: .1rem solid $color-red;
            transform: scale(1.3) ;
            //box-shadow: 0 2.5rem 3rem rgba($color-black , .8);
        
    }

    &__logo{
        height: 3rem;
        cursor: pointer;
        
    }

    &__text-box{
        width:20rem;
        
        text-align: center;
        //padding-left: 5rem;

        
    }

    &__nav-box{
        flex:1;
    }

    

}


.nav__links{
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 .8rem;
    transition: all .5s;

    &:hover {
        transform: scale(1.3);
        text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
    }
    
}

.nav__links li a{
    transition: all .7s;
    color: $color-white;
}

.nav__links li a:hover{
    color: $color-red;
}

.btn-box{
    width:20rem;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 810px) {
    .header__nav-box{
        display: none;
    }

    .btn-box{
        flex: 1;
        justify-content: flex-end;
        margin-right: 3rem;
    }
}